{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
{% set hm_img = url_for('static', filename='assets/img/home-bg.jpg') %}
<header class="masthead" style="background-image: url('{{ hm_img }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ user.get('blog-name') }}</h1>
                    <span class="subheading">A Blog Theme For Everyone</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container" style="width: 50%;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none" width="24" height="24">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>

    <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ category }}:" width="24" height="24">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <!-- Pager-->
            <div class="d-flex justify-content-between mb-4">
                <a class="btn btn-primary  text-uppercase" href="{{ prev }}">&larr; Previous</a>
                <a class="btn btn-primary  text-uppercase" href="{{ next }}">Next &rarr;</a>
            </div>
            <hr>
            {% for row in post %}
            <div class="post-preview">
                <a href="/post/{{ row[3] }}">
                    <h2 class="post-title">{{ row[1] }}</h2>
                    <h3 class="post-subtitle">{{ row[2] }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <span class="text-info fw-bold">{{ uname[(loop.index)-1] }}</span>
                    on {{ row[6] }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-between mb-4">
                <a class="btn btn-primary  text-uppercase" href="{{ prev }}">&larr; Previous</a>
                <a class="btn btn-primary  text-uppercase" href="{{ next }}">Next &rarr;</a>
            </div>


        </div>
    </div>
</div>
{% endblock %}