{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
{% set bg_img = url_for('static', filename='assets/img/post-bg.jpg') %}
<header class="masthead" style="background-image: url('{{  bg_img }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post[1] }}</h1>
                    <h2 class="subheading">{{ post[2] }}</h2>
                    <span class="meta">
                        Posted by
                        <span class="text-info fw-bold">{{ uname }}</span>
                        {{ post[6] }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post[4] }}</p>
            </div>
        </div>
    </div>
</article>
{% endblock %}