<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Sign up Form</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <div class="container position-absolute top-50 start-50 translate-middle" style="width: 400px;">
    <!-- Home button -->
    <a href="/" class="position-absolute top-0 start-100 translate-middle">
      <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </a>
    <div class="container">
      <form class="bg-light p-3 rounded" id="contactForm" action="/sign_up" method="post">
        <h2 class="mb-4 text-center">sign up</h2>
        <!-- flash message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none" width="24" height="24">
          <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </symbol>
        </svg>

        <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ category }}:" width="24" height="24">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <div>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="position-relative">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username"
              required />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email_id" name="email" required />
          </div>

          <div class="form-group mb-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"
              required />
          </div>
          <div class="form-group mb-2">
            <label for="cpassword">Confirm Password</label>
            <input type="password" class="form-control" id="cpassword" placeholder="Enter Password again"
              name="cpassword" required />
          </div>

          <div class="d-grid gap-2 mb-2">
            <button type="submit" class="btn btn-success">sign up</button>
          </div>
          <div>
            <p>I have alrady an account! <a href="/login" class="text-decoration-none"><b>Login</b></a></p>
          </div>
        </div>
        <p class="mt-3 text-center">
          &copy; {{ user.get('blog-name') }} 2024
        </p>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>